/* HTML Tags */

html,body{
    background-color: rgb(72,144,224);
    color: white;
}

h1{
    padding-top: 12px;
}

h4{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

p{
    padding-left: 10px;
}

a{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: rgb(192,192,192);
    transition-property: color;
    transition-duration: 0.25s;
}
a:hover
{
    color: rgb(224,224,224);
}
a:active{
    color: rgb(255,255,255);
}

tr{
    transition-duration: 0.25s;
}

td{
    background-color: rgb(48,96,168);
    transition-duration: 0.25s;
}

hr{
    margin-top: 0px;
}

pre{
    background-color: rgb(12,24,96);
    padding-top: 5px;
    padding-left: 5px;
    transition-duration: 0.25s;
}

/* Classes */

.hello-world{
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: red;
    animation: rainbow 7s linear infinite;
}

.td-1{
    border-top-left-radius: 5px;
}
.td-2{
    border-top-right-radius: 5px;
}

.container{
    width: 100%;
}

.container.table{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: rgb(66,132,210);
    width: 100%;
    border-radius: 5px;
    transition-duration: 0.25s;
    color: white;
}

.btn:hover{
    background-color: rgb(80,156,224);
}

.btn:active{
    background-color: rgb(96,176,255) !important;
}

.btn-table{
    background-color: rgb(120,180,224);
    width: 160px;
    height: 60px;
    border-radius: 5px;
    transition-duration: 0.25s;
    color: white;
}

.table-head th{
    background-color: rgb(40,80,144);
    border: 1px solid rgb(32,72,136);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    transition-duration: 0.25s;
}

.table-body td{
    background-color: rgb(120,180,224);
    border: 1px solid rgb(112,172,216);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    transition-duration: 0.25s;
}

.table-biography{
    /* border: 2px solid rgb(40,80,144); */
    border-radius: 5px;
    transition-duration: 0.25s;
}
.table-biography td{
    color: white;
    border: 2px solid rgb(40,80,144);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    transition-duration: 0.25s;
}

.table-biography td.td-bio{
    background-color: rgb(120,180,240);
    border: 2px solid rgb(112,172,224);
    transition-duration: 0.25s;
}

.a-td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
    /* text-align: center;
    align-content: center;
    vertical-align: middle; */
    transition-duration: 0.25s;
}

.a-table{
    transition-duration: 0.25s;
}

a.a-table:hover,td.a-td:hover{
    background-color: rgb(120,180,240);
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.25s;
}
a.a-table:active,td.a-td:active{
    background-color: rgb(192,224,255);
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.25s;
}

/* IDs */

#header-container{
    background-color: rgb(66,132,210);
    transition-duration: 0.25s;
}

#footerText{
    padding-left: 10px;
}

/* Animations (next-level :) ) */

@keyframes rainbow{
    0% { color: rgb(255,0,0); }
    16% { color: rgb(255,255,0); }
    33% { color: rgb(0,255,0); }
    50% { color: rgb(0,255,255); }
    66% { color: rgb(0,0,255); }
    83% { color: rgb(255,0,255); }
    100% { color: rgb(255,0,0); }
}